:root{
    --white: #fff;
}
.background--recruit{
    background: url(../img/backgrounds/bg-recruit.jpg) no-repeat center center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    height: auto;
    width: 100%;
}
.cover{
    height: 100vh;
}
.cover--empty{
    height: 60vh;
}
.cover--title{
    margin-top: 35px;
    font-size: 52px;
    color: var(--white);
}
.cover--subtitle{
    font-size: 24px;
    margin: 35px 0;
    color: var(--white);
}
.cover--container{
    background-color: rgba(255, 255, 255, 0.5);
    height: 40vh;
    border-top: 2px white solid;
}

.acordion{
    padding: 75px 0;
}
.card{
    border-radius: 0px !important;
    -webkit-box-shadow: -1px 3px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 12px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 12px -1px rgba(0,0,0,0.75);
    margin-bottom: 25px;
}
.card-header{
    background-color: white !important;
    border-bottom: 0px solid rgba(0, 0, 0, 0.125) !important;
}
.card-title-css{
    color: rgb(29, 121, 175) !important;
    font-size: 18px;
    font-weight: bold;
}
.card-title-css:hover{
    color: rgb(67, 165, 223) !important;
    text-decoration: none;
}
.card-body{
    margin: 15px !important;
}
.color-1{
    color: rgb(29, 121, 175) !important;
}
.btn-recruit{
    background-color: rgb(29, 121, 175) !important;
    color: white;
    border-radius: 12px;
    padding: 5px 35px;
}