:root{
    --white: #ffffff;
    --white-trans: rgba(255,255,255,0.5);
    --white_hover: hsl(226, 38%, 87%);
    --nav: rgb(0,106,160,0.8);
    --nav_hover: rgb(1,71,130);
    --trans: rgba(0,0,0,0);
    --blue: rgb(20,93,146);
    --blue_light: rgb(205, 234, 255);
    --item1: rgb(0,38,101);
    --item2: rgb(1,71,130);
    --item3: rgb(0,106,160);
    --item4: rgb(0,168,215);
}
html {
    scroll-behavior: smooth;
    overflow-x:hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
body{
    scroll-behavior: smooth !important;
}
body::-webkit-scrollbar{
    width: 7px;
    background: var(--blue_light);
}
body::-webkit-scrollbar-thumb{
    background: var(--blue);
    border-radius: 15px;
}


.background--one{
    background: url(../img/backgrounds/bg1.jpg) no-repeat center center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    height: auto;
    width: 100%;
}
.background--two{
    background: url(../img/backgrounds/bg2.jpg) no-repeat center center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    height: auto;
    width: 100%;
}
/* Navigation */

.navigation{
    height: 70px;
    background-color: var(--nav) !important;
    z-index: 10;
    transition: all 1s ease;
}
.navigation:hover{
    background-color: var(--nav_hover) !important;
    transition: all 1s ease;
}
.navigation--logo{
    width: 166px;
    height: 36px;
    position: relative;
    bottom: 3px;
}
.navigation--link{
    color: var(--white) !important;
    width: 160px !important;
}
.navigation--link:hover{
    color: var(--white_hover) !important;
}

/* Presentation */

.presentation{
    height: 100vh;
    scroll-behavior: smooth !important;
}
.presentation--transition{
    animation-duration: 3s;
    animation-name: slidein;
}
.presentation--transition-2{
    animation-duration: 4s;
    animation-name: slidein;
}
.presentation--transition-3{
    animation-duration: 5s;
    animation-name: slidein2;
}
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  @keyframes slidein2 {
    from {
      margin-left: 100%;
      width: 306px
    }
  
    to {
      margin-left: 0%;
      width: 306px;
    }
  }
.presentation--info{
    padding-top: 24%;
    width: 59%;
}
.presentation--title{
    font-size: 52px;
    color: var(--white);
}
.presentation--subtitle{
    font-size: 24px;
    margin: 35px 0;
    color: var(--white);
}
.presentation--arrow{
    position: absolute;
    bottom: 70px;
    left: 49%;
    width: 60px;
    height: 30px;
}
.presentation--arrow-img{
    width: 100%;
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }

/* Button */

.button{
    width: 306px;
    height: 58px;
    font-size: 20px;
    border-radius: 25px;
    color: var(--blue);
    background-color: var(--white);
    border: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.button:hover{
    color: var(--white);
    background-color: var(--trans);
    border: none;
}
.button-form{
    font-size: 16px;
    width: 250px;
    height: 40px;
    border-radius: 7px;
    margin-top: 35px;
}

/* About */

.about{
    padding-top: 70px;
    background-color: rgba(255, 255, 255, 0.3) !important;
    border-top: 2px rgb(255, 255, 255) solid;
    padding-bottom: 30px;
    scroll-behavior: smooth !important;
}
.about--container{
    margin-bottom: 70px;
}
.about--title{
    font-size: 48px;
    margin-bottom: 35px;
    color: var(--white);
}
.about--description{
    font-size: 24px;
    color: var(--white);
}

/* Line */

.line{
    width: 100%;
    text-align: center;
    position: relative;
    top: 140px;
}
.line--img{
    width: 80%;
}

/* Item */

.item{
    align-items: center;
    color: var(--white);
    text-align: center;  
}
.item--title{
    font-size: 24px !important;
}
.item--icons{
    height: 227px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item--icon1{
    width: 78px;
    height: 78px;
    border-radius: 50%;
    border: 2px var(--white) solid;
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.item--icon2{
    border-radius: 50%;
    width: 188px;
    height: 188px;
    position: relative;
    bottom: 0px;
    border: 2px var(--white) solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item--img1{
    width: 110px;
}
.item--img2{
    width: 110px;
}
.item--img3{
    width: 110px;
}
.item--img4{
    width: 100px;
}

.item--color1{
    background-color: var(--item1);
    transition: all 0.5s ease;
}
.item--color2{
    background-color: var(--item2);
    transition: all 0.5s ease;
}
.item--color3{
    background-color: var(--item3);
    transition: all 0.5s ease;
}
.item--color4{
    background-color: var(--item4);
    transition: all 0.5s ease;
}
.item--color1:hover{
    background-color: var(--blue);
}
.item--color2:hover{
    background-color: var(--blue);
}
.item--color3:hover{
    background-color: var(--blue);
}
.item--color4:hover{
    background-color: var(--blue);
}

/* Service */
.services{
    padding: 70px 0;
    scroll-behavior: smooth !important;
}
.service--container-header{
    text-align: center;
    margin-bottom: 70px;
}
.service--title{
    font-size: 52px;
    margin-bottom: 35px;
}
.service--description{
    font-size: 24px;
}
.item-service--header{
    display: inline-block !important;
    width: 100%;
    height: 70px;
}
.item-service{
    padding: 10px;
    transition: all 1s ease;
    height: 238px;
}
.item-service:hover{
    background-color: var(--blue_light) !important;
    transition: all 1s ease;
}
.item-service--logo{
    float: left;
    width: 25%;
}
.item-service--img{
    width: 65px;
    height: 65px;
}
.item-service--title{
    width: 75%;
    font-size: 24px;
    float: left;
}
.item-service--description{
    margin-top: 30px;
    text-align: justify;
}

/* contact */
.contact{
    padding: 75px 0;
}
.contact--header{
    text-align: center;
}
.contact--title{
    font-size: 52px;
    color: var(--white) !important;
}
.contact--description{
    font-size: 24px;
    color: var(--white);
    margin-top: 35px;
}
.contact--form{
    margin-right:auto;
}
.contact--form-data{
    margin-top: 70px;
    margin-right:auto;
}
.contact--input{
    color: var(--white);
}
input::placeholder{
    color: var(--white) !important;
}
textarea::placeholder{
    color: var(--white) !important;
}
.contact--input-2{
    border-radius: 5px;
    background-color: var(--white-trans);
    border: none;
    transition: all 1s ease;
}
.contact--input-3{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--white-trans);
    border: none;
    transition: all 1s ease;
    resize: none;
    height: 135px;
    overflow-y: scroll;
}
.contact--input-3::-webkit-scrollbar{
    width: 7px;
    background: var(--white-trans);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.contact--input-3::-webkit-scrollbar-thumb{
    background: var(--blue);
    border-radius: 15px;
}
.contact--center{
    text-align: center;
}

/* Mision */

.mision{
    padding: 40px 0;
    height: auto;
}
.mision--title{
    font-size: 52px;
}


/* item-mision */
.item-mision{
    width: 40%;
    height: 150px;
    margin-top: 70px;
    margin: 40px 0;
}
.item-mision--img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: relative;
    bottom: 0px;
    background-color: var(--blue_light);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
}
.item-mision--img:hover{
    background-color: var(--blue);
}
.item-mision--img img{
    width: 70%;
}
.item-mision--dates{
    text-align: left;
    margin-left: 15px;
}
.item-mision--title{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer{
    background-color: var(--white-trans);
    height: auto;
    border-top: 2px var(--white) solid;
    border-bottom: 2px var(--white) solid;
}
.footer--body{
    padding: 35px 0;
}
.footer--logo{
    width: 120px;
    padding: 15px 0;
}
.footer--text{
    color: var(--white);
    width: 80%;
    transition: 1s ease;
    text-decoration: none;
}
.footer--text2{
    color: var(--white);
    width: 80%;
    transition: 1s ease;
    text-decoration: none;
}
.footer--link{
    color: var(--white);
    text-decoration: underline;
    transition: 1s ease;
}
.footer--link:hover{
    color: var(--item1);
}
.footer-follow{
    color: var(--white);
}
.copyright--text{
    color: var(--white);
    padding: 25px 0;
    margin: 0;
}
.footer--item{
    padding: 5px;
}
.footer--img{
    width: 28px;
    margin-right: 3px;
}
.popup{
    max-width: 80%;
}
.popup--content{
    border-radius: 0px !important;
    background: url(../img/backgrounds/bg-popup.jpg) no-repeat center center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}
.popup--close{
    color: white;
    margin-right: 10px;
}
#file{
    display: none;
}