@media (max-width: 450px) { 
    .presentation{
        display: flex;
        align-items: center;
    }
    .presentation--info{
        width: 100%;
    }
    .presentation--title{
        font-size: 36px !important;
        width: 100%;
    }
    .presentation--subtitle{
        font-size: 18px;
        width: 100%;
    }
    .button{
        width: 180px;
        height: 30px;
        font-size: 12px;
    }
    .presentation--transition{
        animation-duration: 3s;
        animation-name: slidein;
    }
    .presentation--transition-2{
        animation-duration: 4s;
        animation-name: slidein;
    }
    .presentation--transition-3{
        animation-duration: 5s;
        animation-name: slidein2;
    }
      
      @keyframes slidein {
        from {
          width: 100%
        }
      
        to {
          width: 100%;
        }
      }
      @keyframes slidein2 {
        from {
          width: 180px
        }
      
        to {
          width: 180px;
        }
      }

    .presentation--arrow{
        position: absolute;
        bottom: 30px;
        left: 45%;
        width: 60px;
        height: 30px;
    }
    .about--title{
        font-size: 36px;
    }
    .about--description{
        font-size: 18px;
    }
    .item--icons{
        height: 120px;
    }
    .item--icon1{
        display: none;
    }
    .item--icon2{
        width: 100px;
        height: 100px;
    }
    .item--img1{
        width: 60px;
    }
    .item--img2{
        width: 70px;
    }
    .item--img3{
        width: 70px;
    }
    .item--img4{
        width: 60px;
    }
    .line{
        display: none;
    }
    .service--title{
        font-size: 36px;
    }
    .service--description{
        font-size: 18px;
    }
    .item-service{
        text-align: center;
    }
    .item-service--logo{
        float: none;
        width: 100%;
    }
    .item-service--title{
        float: none;
        width: 100%;
    }
    .item-service--description{
        text-align: center;
        margin-top: 10px;
    }
    .mision--title{
        font-size: 36px;
    }
    .item-mision--img{
        width: 75px;
        height: 75px;
        display: inline-block;
    }
    .item-mision--img img{
        width: 50px;
        position: relative;
        top: 10px;
    }
    .item-mision{
        height: auto;
        width: 100%;
        text-align: center;
        margin: 0;
        margin-top: 15px;
    }
    .item-mision--dates{
        margin: 0;
        text-align: center;
    }
    .item-mision--logo{
        text-align: center !important;
        display: table-cell;
        vertical-align: middle;
    }
    .none{
        display: none;
    }
    .ml-5{
        margin-left: 0 !important;
    }
    .contact--title{
        font-size: 36px;
    }
    .contac--description{
        font-size: 18px;
    }
    .footer{
        padding: 10px;
        text-align: center;
    }
    .footer--link-div{
        width: 100%;
    }
    .footer--link{
        text-transform: uppercase;
    }
    .footer--logo{
        width: 200px;
        padding: 25px;
    }
    .footer--body{
        padding: 5px 0;
    }
    .footer--text2{
        display: none;
    }
    .footer--text{
        width: 100%;
    }
    .copyright--text{
        margin: 0;
    }
    .navigation--mobile{
        background-color: var(--nav_hover) !important;
        text-align: center;
    }
    .popup{
        max-width: 100%;
    }
}